# file systems
.DS_Store
*.swp
*.swo
*.log
logs/
.cache/

# node projects
**/node_modules
npm-debug.log*

# IDEs
.idea/
.vscode/

# TypeScript
lib/

# dev
.*.js
/test-results/
/playwright-report/
/playwright/.cache/
