.algo-container {
  /* border-top: 1px solid #ccc; */
  padding: 16px;
  position: relative;
  /* ecmascript spec font */
  font-family: Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
}

.algo-container ol {
  padding-inline-start: 20px;
}

.algo-parameters {
  font-size: 14px;
}

.algo-step-prefix {
  position: absolute;
  color: red;
  left: 3px;
  min-width: 20px;
}

.algo-step-prefix:hover {
  background-color: #ddd;
  opacity: 0.5;
  cursor: pointer;
}

.algo-step {
  white-space: pre-wrap;
}

.algo-step.highlight {
  background-color: #E9FBE9;
}

.algo-step.exit-highlight {
  background-color: #FDE9E9;
}

.algo-step emu-val {
  font-weight: bold;
}

.algo-step var {
  color: #2aa198;
}

.algo-step var.field {
  color: #000000;
  font-style: normal;
}

.algo-step code {
  font-weight: bold;
  font-family: Consolas, Monaco, monospace;
  white-space: pre;
}

.algo-step emu-const {
  font-family: sans-serif;
}

.algo-step emu-nt {
  display: inline-block;
  font-style: italic;
  white-space: nowrap;
  text-indent: 0;
}

.algo-step a {
  text-decoration: none;
  color: #206ca7;
}

.algo-step a:visited {
  color: #206ca7;
}

.algo-step a:hover {
  text-decoration: underline;
  color: #239dee;
}

