.my-highlight {
  background-color: #ffff00;
  @media (prefers-color-scheme: dark) {
    background-color: #777700;
  }
}

/* issue: https://github.com/microsoft/monaco-editor/issues/4455 */
.monaco-editor {
  --vscode-focusBorder: #00000000 !important; 
}